extends layout

block content


  h1 CCG Cash Games Currently Running
  hr

  each table in tables
    p= 'Table name: '+ table.name
    p= 'Game name: '+table.game
    p= 'Players: '+table.players
    p= 'Table ID: '+table.id
    button(class='deleteTable', id=table.id, type='button') Delete Table
    hr
